@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

.mainpage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}

.question-card,
.title-card {
  margin-top: 10px;
  width: 80%;
  border-radius: 8px;
  max-width: 1256px;
}

.question-text,
.detail-text {
  border: none;
  margin-top: 4px;
}

.question-text {
  font-size: large;
  font-weight: 600;
}

.add-question-button {
  font-weight: 500;
  margin-bottom: 10px;
}
